

.quicksand-fonts {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.display-flex{
    display: flex;
}
.max-width{
    max-width: 1160px ;
   margin: 0 auto;
}
/* nav section style */
nav{
   
    justify-content: space-between;
    align-items: center;
}
nav  li{
    list-style: none;
}
nav li a{
    text-decoration: none;
   margin-right: 32px ;

}
nav img{
    /* max-width: 62px ;
    max-height: 62px ; */
    width: 100%;
}
#school{
    font: 32px;
    font-weight: bold;

}
#home{
    
    font-size: 20px ;
    font-weight: bold;
    color:#FEA301 ;
}
#about{
    font-size: 20px ;
    font-weight: 500;
    color:#01ACFD ;
}
#failities{
    font-size: 20px ;
    font-weight: 500;
    color:#05D4DF ;
}
#admission{
    font-size: 20px ;
    font-weight: 500;
    color:#5D58EF ;
}
#contact{
    font-size: 20px ;
    font-weight: 600;
    color:#FFFFFF ;
    background-color: #FEA301;
    padding: 10px 60px ;
    border-radius: 12px ;
}